{% extends 'base.html.twig' %}

{% block title %} Customer Page {% endblock %}

{% block body %}
    <div class="example-wrapper">

        <h1> Hello, Welcome to the customer page</h1>

        <h2> Customer name is :  {{ name }}</h2>
    </div>
{% endblock %}

